<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletCRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>insertServlet</servlet-name>
  	<servlet-class>com.luminar.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>insertServlet</servlet-name>
  	<url-pattern>/createServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>readServlet</servlet-name>
  	<servlet-class>com.luminar.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>readServlet</servlet-name>
  	<url-pattern>/readServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>updateServlet</servlet-name>
  	<servlet-class>com.luminar.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updateServlet</servlet-name>
  	<url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>deleteServlet</servlet-name>
  	<servlet-class>com.luminar.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteServlet</servlet-name>
  	<url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  
</web-app>